{% assign feature_text = page.feature_text %} {% assign feature_text =
page.feature_text %} {% assign feature_image = page.feature_image %} {% assign
title = "# " | append: page.title %} {% if feature_text or feature_image %}
<div
  class="feature"
  {%
  if
  feature_image
  %}
  style="background-image: url({{ feature_image | prepend: site.baseurl | replace: '//', '/' }})"
  {%
  endif
  %}
>
  <div class="container typeset">
    {{title | markdownify}}{{ feature_text | markdownify }}
  </div>
</div>
{% endif %}
